html,
body {
  margin: 0;
  padding: 0;
  background-color: #f2edd7;
}

.header {
  background-color: #eae2b6;
  padding: 2px;
}

.logo {
  float: left;
  width: 2%;
  height: 2%;
  margin-top: 15px;
  margin-left: 1%;
}

.appName {
  font-family: courier new;
  color: #00a11c;
  position: relative;
  margin-top: 15px;
  margin-left: 4%;
}

.rowComp {
  width: 100%;
  display: table;
  /* flex-wrap: wrap; */
}

.leftComponent {
  font-family: courier new;
  display: inline-block;
  vertical-align: top;
  padding-left: 2%;
  padding-right: 1%;
  width: 45%;
}

.rightComponent {
  font-family: courier new;
  display: inline-block;
  vertical-align: top;
  padding-left: 1%;
}

.inputDropDown {
  font-family: courier new;
  display: block;
  margin-top: 3%;
  margin-bottom: 2%;
  width: 32%;
  height: 28px;
  border: none;
  font-size: 20px;
  border-bottom: 2.5px solid #00a11c;
  background-color: #eae2b6;
}

.inputText {
  font-family: courier new;
  display: block;
  margin-top: 3%;
  margin-bottom: 2%;
  width: 55%;
  height: 28px;
  border: none;
  font-size: 20px;
  border-bottom: 2.5px solid #00a11c;
  background-color: #eae2b6;
}

.submitButton {
  font-family: courier new;
  margin-top: 2%;
  margin-left: 15%;
  width: 25%;
  height: 30px;
  font-size: 20px;
  background-color: #00a11c;
  opacity: 0.75;
}

.submitButton:hover {
  opacity: 1;
}

.userInput {
}

.liquidityPool {
}

.traders {
}

.lProviders {
}
